@mixin clearfix {
  &::after {
    content: "";

    display: table;
    clear: both;
  }
}

@mixin container {
  width: $mobile-width;
  margin: 0 auto;

  @media (min-width: $media-tablet-widths) {
    width: $tablet-width;
  }

  @media (min-width: $media-desktop-widths) {
    width: $desktop-width;
  }
}

@mixin container-fluid {
  width: auto;
  box-sizing: border-box;

  @media (min-width: $media-desktop-widths) {
    width: $fluid-width;
    max-width: $max-fluid-width;
    margin: 0 auto;
  }
}

@mixin container-fixed {
  width: $containter-fixed-width;
  margin: 0 auto;
}
