
//scaffolding.scss

$font-size-basic: ;
$line-height-basic: ;
$font-family-basic: ;
$basic-text-color: ;
$basic-font-style: ;
$basic-bg-color: ;

//mixins.scss

$media-tablet-widths: ;
$media-desktop-widths: ;

$mobile-width: ;
$tablet-width: ;
$desktop-width: ;

$fluid-width: ;
$max-fluid-width: ;
