
//scaffolding.scss

$font-size-basic: 14px;
$line-height-basic: 24px;
$font-family-basic: OpenSans Light, Arial, sans-serif;
$basic-text-color: #283645;
$basic-font-style: normal;
$basic-bg-color: #ffffff;

//mixins.scss

$media-tablet-widths: 660px;
$media-desktop-widths: 960px;

$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 960px;

$fluid-width: auto;
$max-fluid-width: 960px;

$container-fixed-width: 0;
