.download-app {
  box-sizing: border-box;

  margin-top: -65px;

  background-color: #1d2631;
  background-image: url("../../img/bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 461px;
}

.download-app__wrapper {
  background-image: url("../../img/iphone-mobile.png");
  background-repeat: no-repeat;
  background-size: 320px 286px;
  background-position: 0 175px;
  padding: 0 20px;
  padding-top: 489px;
  padding-bottom: 28px;
}

.download-app__title {
  display: none;
}

.download-app__btn {
  box-sizing: border-box;
  display: block;
  margin-bottom: 30px;
  color: #ffffff;
  text-decoration: none;
  width: 100%;
  padding: 13px;
  font-family: OpenSansBold, Arial sans-serif;
  font-size: 18px;
  text-align: center;
  border: 3px solid #ffffff;
  border-radius: 35px;

  transition: all 0.3s ease;

  &:hover {
    background-color: #ffffff;
    color: #d22856;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

.download-app__list {
  width: 88%;
  margin: 0 auto;
  padding: 0 15px;
  list-style: none;
  margin-bottom: 25px;

  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.download-app__link {
  font-size: 0;
  display: block;
}

.download-app__link:last-child {
  margin-right: 0;
}

.download-app__apple {
  width: 47px;
  height: 56px;
  background-image: url("../../img/icon-apple.svg");
  background-repeat: no-repeat;
}

.download-app__android {
  width: 43px;
  height: 47px;
  margin-top: 8px;
  background-image: url("../../img/icon-android.svg");
  background-repeat: no-repeat;
}

.download-app__microsoft {
  width: 44px;
  height: 41px;
  margin-top: 13px;
  background-image: url("../../img/icon-microsoft.svg");
  background-repeat: no-repeat;
}

.download-app__description {
  margin: 0;

  box-sizing: border-box;
  width: 100%;
  text-align: center;
  color: #ffffff;
}

@media(min-width: $media-tablet-widths) {
  .download-app {
    margin-top: -110px;
    background-image: url("../../img/bg-tablet.jpg");
    background-color: transparent;
    background-size: 100% 750px;
    background-position: 0 0;
  }

  .download-app__wrapper {
    background-image: url("../../img/iphone-tablet.png");
    background-size: auto;
    background-position: 40% 187px;
    width: 620px;
    margin: 0 auto;
    padding-top: 203px;
    padding-bottom: 108px;
  }

  .download-app__title {
    box-sizing: border-box;
    display: block;
    padding: 0 30px;
    width: 48%;
    margin-top: 0;
    margin-bottom: 28px;
    text-align: center;
    color: #ffffff;
    font-family: OpenSansLight, Arial, sans-serif;
    font-size: 40px;
    line-height: 50px;
    font-weight: 300;
  }

  .download-app__list {
    width: 48%;
    margin: 0;
    margin-bottom: 37px;
    justify-content: flex-start;
  }

  .download-app__item {
    &:first-child {
      margin-right: 60px;
    }

    &:nth-child(2) {
        margin-right: 36px;
      }
    }

  .download-app__apple {
    margin-left: 32px;
    margin-right: 50px;
  }

  .download-app__android {
    margin-left: -25px;
    margin-top: 5px;
    margin-right: 10px;
  }

  .download-app__description {
    width: 49%;
    font-family: OpenSansLight, Arial, sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
  }

  .download-app__btn {
    width: 48%;
    margin-bottom: 45px;
  }
}

@media(min-width: $media-desktop-widths) {
  .download-app {
    padding-left: 0px;

    background-image: url("../../img/bg-desktop.jpg");
    background-size: 100% 855px;
    background-position: 0 0;
  }

  .download-app__wrapper {
    width: 940px;
    background-image: url("../../img/iphone-desktop.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 45px 210px;
    padding-top: 225px;
    padding-bottom: 135px;
    padding-left: 40px;
  }

  .download-app__title {
    font-size: 50px;
    line-height: 60px;
    padding-right: 170px;
    padding-left: 0;
    margin-bottom: 50px;
  }

  .download-app__btn {
    width: 30%;
    margin-bottom: 70px;
  }

  .download-app__list {
    width: 33%;
    padding: 0;
    margin-bottom: 53px;
  }

  .download-app__description {
    width: 33%;
  }
}
